@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h4>Brian's Portfolio Application</h4>
        <p style="margin-bottom: 3em"><a href="~/Scripts">Scripting page </a>.</p>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
