
@{
    ViewData["Title"] = "Resume";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Custom styles for this template -->
<link href="~/css/resume.css" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Brian Christensen</span>
        <span class="d-none d-lg-block">
            <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/profile.jpg" alt="">
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#education">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#awards">Affiliations</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
        <div class="w-100">
            <h1 class="mb-0">
                Brian
                <span class="text-primary">Christensen</span>
            </h1>
            <div class="subheading mb-5">
                #828, 3130-66 Avenue SW · Calgary, AB T3E-5K8
                <br /> (403) 689-2548 · <a href="mailto:bchriste@shaw.ca">Brian Christensen</a>
            </div>
            <p class="lead mb-5">My goal as an electrical engineer is to advance as a software architect and in business analysis.   I am involved with both system architecture design and server development and client user interface software development using C++, C#/.NET, and Java and have worked in industries including telecommunications, control systems, and SCADA.</p>
            <p class="lead mb-5">My development career has focused on object-oriented software development for various applications.
            <br />    •	Demonstrated record of academic and job-related accomplishments with increasing responsibilities and hands-on task and project leadership.
            <br />    •	Object oriented software development using design patterns, UML, C/C++/C#/Java/VB programming languages, and relational database design including table/index design, stored procedure development, and efficient data retrieval.
            <br />    •	Demonstrated complex application development with Windows service development, embedded development, web development with database interaction, multi-threaded programming, robust fault-tolerant control applications, and RTOS development with inter-process communication.
            <br />    •	Complete application development responsibilities including functional specification, application design, design documentation, development, white-box test plan development, help documentation, and customer demonstrations
            <br />    •	Excels at working with engineering details including such examples as SCADA systems, IEC1131-3 PLC automation languages, telecommunication protocols, flow automation, substation automation, and instrumentation.
            <br />    •	Demonstrated agility in quickly mastering technologies in a work environment.
            </p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/brian-christensen-175208/">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com/bkchristensen">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
        <div class="w-100">
            <h2 class="mb-5">Experience</h2>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">Senior Software Engineer</h3>
                    <div class="subheading mb-3">MR Control Systems International  </div>
                    <p>
                        This position involved in-house .NET development (C#/VB.NET/ASP.NET) of an event distribution system and the design and implementation an automation system, real-time event engine, and real time applications using a Subversion repository system and CruiseControl.NET build environment.
                        <br />  • Visual Studio development with C#/VB,NET, Forms,ASP.NET, WPF, WCF, and workflows.
                        <br />  • HTML5,Javascript, JQuery, CSS, Bootstrap 4 web development
                        <br />  • IoT protocol development
                        <br />  • ComponentOne and graphical libraries, and DB4O object oriented database technologies
                        <br />  • Trac/Subversion/CruiseControl.NET code management environment
                        <br />  • Alan Bradley SLC500 PLC and Rockwell RS Logix/RS View remote devices
                        <br />  • GE support work included Cimplicity HMI, D25/D200 IEDs, InstallShield 12, Clarify and Bugzilla tracking systems
                    </p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">December 2005 - April 2020</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">Software Contractor</h3>
                    <div class="subheading mb-3">GE Energy</div>
                    <p>
                        This initial contract involves development on a GE Fanuc Cimplicity HMI-based Powerlink and ISM&D products for the electrical power industry.    The contract involves development with Visual Basic scripting, Visual Studio (Visual C++ 6.0), .NET (C#) GUIs, SQL Server 7.0/2000, InstallShield 9.0, and Cimplicity HMI user interfaces. I performed international site visits to support commissioning of the SCADA product.
                    </p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">October 2003 to March 2004, August 2004 – November 2005</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">Senior Systems Engineer</h3>
                    <div class="subheading mb-3">Metso Automation</div>
                    <p>
                        This position involves software development for a SCADA product for gas and pipeline industries on both the Windows and UNIX platforms.   Development includes database development using a Sybase server or a SQL Server 2000 RDBMS.   Responsibilities included mentoring of junior and intermediate level developers.
                        <br />    •	C++ (Visual Studio, Visual C++ 6.0, UNIX C++),PERL, Java (J2SE), AutoCAD, .NET(C#) development, PowerBuilder V8.02 gas application user interface
                        <br />    •	RDBMS development for Solaris, SQL Server 2000, Oracle - table design, stored procedures
                        <br />    •	Report development using Excel/ADO/VBA
                        <br />    •	Web development using PHP pages
                        <br />    •	SCADA configuration of distributed OASyS system and GMAS (gas measurement) products
                    </p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">June 2001 - Febrary 2003</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
                <div class="resume-content">
                    <h3 class="mb-0">Software Engineer</h3>
                    <div class="subheading mb-3">Megasys Computer Technologies Inc</div>
                    <p>
                        This position involves the porting and reorganization of telecommunications management software from a VMS-specific product to one which will execute under most UNIX’s, including LINUX, and Windows NT. The project is an object oriented database system.
                        <br />   •	C++ ,FORTRAN, and PERL development on multiple platforms
                        <br />   •	Telecommunications SCADA development
                    </p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">July 2000 - June 2001</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
                <div class="resume-content">
                    <h3 class="mb-0">Software Engineer</h3>
                    <div class="subheading mb-3">Total Control Products (Canada) Inc</div>
                    <p>
                        I spearheaded the development of an integrated control-HMI product for the Windows platform using Visual C++ (6.0)  The controller used  control system programming languages, such as ladder logic, instruction list, and sequential function charts.
                    </p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">August 1997  - June 2000</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
                <div class="resume-content">
                    <h3 class="mb-0">Software Engineer</h3>
                    <div class="subheading mb-3">Willowglen Systems</div>
                    <p>
                        I worked on the development of historical applications including historical data storage, Sybase database design, data archiving, data retrieval for reports and trending displays.   This was part of a UNIX-based SCADA product developed in C++.
                    </p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">March 1995 - August 1997</span>
                </div>
            </div>

        </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
        <div class="w-100">
            <h2 class="mb-5">Education</h2>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
                <div class="resume-content">
                    <h3 class="mb-0">University of Calgary, Calgary, AB</h3>
                    <div class="subheading mb-3">Certificate</div>
                    <div>Professional Management (P.E.G.G) complete</div>
                    <p>Business Analysis Certificate in progress</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">September 1985 - April 1988</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">Southern Alberta Institute of Technology, Calgary, AB</h3>
                    <div class="subheading mb-3">Certificate</div>
                    <div>Distributed Control System and Safety Instrumented Systems</div>
                    <p>Courses - Industrial Instrumentation I, Safety Instrumented System I and II, Distributed Control Systems 1,2,and 3</p>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">University of Alberta, Edmonton, AB</h3>
                    <div class="subheading mb-3">Bachelor of Science</div>
                    <div>Electrical Engineering</div>
                    <p>GPA: 8.2/9  (Top 10% of class)</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">September 1991 - April 1994</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
                <div class="resume-content">
                    <h3 class="mb-0">University of Calgary, Calgary, AB</h3>
                    <div class="subheading mb-3">Bachelor of Science</div>
                    <div>Honours Biochemistry</div>
                    <p>GPA: 3.81/4.0</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">September 1985 - April 1988</span>
                </div>
            </div>

        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
        <div class="w-100">
            <h2 class="mb-5">Skills</h2>

            <div class="subheading mb-3">Programming Languages &amp; Tools</div>
            <ul class="fa-ul mb-0">
                <li>
                    <i class="fa-li fa fa-check"></i>
                    C/C++  (8 years)
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    C#/.NET (10+ years)
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    ASP.NET (5 years)
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    HTML5/CSS (2 years)
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Relational Databases (2-3 years of SQL Server, 1 year of MySQL)
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Visual Studio (10+ years)
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    C#/ASP.NET/.NET (10+ years)
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Object oriented analysis and design (10+ years)
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Trac/Subversion/CruiseControl.NET development environment (10 years)
                </li>
            </ul>

            <div class="subheading mb-3">Engineering</div>
            <ul class="fa-ul mb-0">
                <li>
                    <i class="fa-li fa fa-check"></i>
                   Supervisory Control and Data Acquisition (10+ years) 
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Protocol Development (3 years of Modbus, Profibus, DNP, GE Genius)
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    IEC1131-3 Programming Languages (3 years)
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Agile Development &amp; Scrum
                </li>
            </ul>
        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
        <div class="w-100">
            <h2 class="mb-5">Interests</h2>
            <p>Outside of technical pursuits, I like to pursue natural pursuits around Calgary such as hiking and canoeing.</p>
            <p class="mb-0">For exercise, I like to do some jogging and also like to play tennis.</p>
        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="affilications">
        <div class="w-100">
            <h2 class="mb-5">Affiations</h2>
            <ul class="fa-ul mb-0">
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i>
                    Member of APEGGA
                </li>
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i>
                    Member of ISA
                </li>
            </ul>
        </div>
    </section>

</div>

<!-- Custom scripts for this template -->
<script src="js/resume.min.js"></script>

